<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
 <br><br>
<div class="container">    
  <div class="row">
    <div class="col-sm-3">
      <div class="panel panel-primary">
        <div class="panel-heading">Number of Orders</div>
        <div class="panel-body" style="text-align: center;font-size:5pc;">{{orders}}</div>
        <!-- <div class="panel-body" style="text-align: center;font-size:5pc;">34</div> -->
      </div>
    </div>
    <div class="col-sm-3"> 
      <div class="panel panel-primary">
        <div class="panel-heading">Number of Customers</div>
        <!-- <div class="panel-body" style="text-align: center;font-size:5pc;" >{{customers.count}}</div> -->
        <div class="panel-body" style="text-align: center;font-size:5pc;">10</div>
      </div>
    </div>
  </div>
</div><br>

<div class="container">    
  <div class="row">
    <div class="col-sm-3">
      <div class="panel panel-primary">
        <div class="panel-heading">Number of Products</div>
        <div class="panel-body" style="text-align: center;font-size:5pc;">{{products.Count}} </div>
        <!-- <div class="panel-body" style="text-align: center;font-size:5pc;">45 </div> -->
      </div>
    </div>
  
    <div class="col-sm-3"> 
      <div class="panel panel-primary">
        <div class="panel-heading">Number of Email Subscribers</div>
        <div class="panel-body" style="text-align: center;font-size:5pc;">{{emailSubscribers}}</div>
        <!-- <div class="panel-body" style="text-align: center;font-size:5pc;">67</div> -->
      </div>
    </div>
  </div>
</div>
</body>
</html>

